<% @Comment.movie.each do |c| %>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <dl class="dl-vertical">

        <dt>User: <%= c.user.username %></dt>
        <dd><%= c.created_at %></dd>
        <dt>Comment:</dt>
        <dd><p style= "word-wrap: break-word;"><%= c.content %></p></dd>
      </dl>
    </div>
  </div>
<% end %>