<h2>Film bearbeiten</h2>

<% if @movie.errors.any? %>
<ul>
  <% @movie.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= render partial: "form", locals: {movie: @movie} %>